.goods__container {
	padding: 48px 0;
	box-sizing: border-box;

	.goods__title {
		position: relative;
		display: inline;
        font-family: Roboto, sans-serif;
		font-size: 32px;
		font-weight: 500;

		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: -12px;
			left: 0;
			width: 100px;
			height: 6px;
			border-radius: 6px;
			background-color: #94d394;
		}
	}

	.goods__link {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&:hover,
		&:focus {
			svg {
				transform: translateX(10px);
			}
		}

		svg {
			margin-left: 8px;
			width: 24px;
			transform: translateX(0);
			transition: transform 0.8s;
		}

		.good-link {
			font-size: 16px;
			font-weight: bold;
			color: #000;
			text-decoration: none;
		}
	}

	.goods__wrapper {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		padding: 0 26px;
        overflow-x: scroll;

		.swiper-wrapper {
			padding: 40px 0;
			box-sizing: border-box;
		}

		.good__item {
			flex-shrink: 0;
			box-sizing: border-box;
			width: 25%;
			margin-right: 10px;
			cursor: pointer;
			transition: all 450ms;
				


			.good-desc {
                    margin-right: 36px !important;
					display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    font-family: Roboto, sans-serif;
                    position: relative;

                &__favorite {
                    width: 30px;
                    height: auto;
                    color:rgb(74, 83, 57);
                    position: absolute;
                    right: 30px;
                    top: 30px;

                    &_hidden {
                        display: none;
                    }

                }

				img {
					border-radius: 4px;
					width: 100%;
					object-fit: contain;
					transition: transform 0.25s;
				}

				.good-desc-back {
					width: 100%;
					height: 100%;
					padding: 8px;
					box-sizing: border-box;
					background-color: rgba(#fff, 0.8);
					

					.button__wrapper {
						display: flex;
						flex-direction: column;
						margin-top: 32px;

						.button {
							width: 100%;

							+ .button {
								margin-top: 16px;
							}
						}
					}

					.good-desc__title {
						padding: 0;
						margin: 0 0 8px;
                        height: 4rem;
						font-size: 16px;
						line-height: 1;
                        font-weight: 600;
                        color: #333;
					}

					.good-desc__subtitle {
						padding: 0;
						margin: 0 0 12px;
						font-size: 16px;
					}

					.good-desc__price {
						padding: 0;
						margin: 0 0 12px;
						font-size: 16px;
                        font-weight: 800;
					}
				}

                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }
			}
		}
	}

	.goods__table {
		display: flex;
		padding: 0 26px;
        flex-direction: column;
		justify-content: flex-start;
		overflow: hidden;
        overflow-y: scroll;
		max-height: auto;

		.swiper-slide {
			max-height: 300px;
		}

		.good__item {
			flex-shrink: 0;
			box-sizing: border-box;
			width: 80%;
			height: 300px;
			margin-right: 10px;
			cursor: pointer;
			transition: all 450ms;
				


			.good-desc {
                    margin-right: 36px !important;
					display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    font-family: Roboto, sans-serif;
                    position: relative;

                &__favorite {
                    width: 30px;
                    height: auto;
                    color:rgb(74, 83, 57);
                    position: absolute;
                    right: 30px;
                    top: 30px;

                    &_hidden {
                        display: none;
                    }

                }

				img {
					border-radius: 4px;
					width: 100%;
					object-fit: contain;
					transition: transform 0.25s;
				}

				.good-desc-back {
					width: 100%;
					height: 100%;
					padding: 8px;
					box-sizing: border-box;
					background-color: rgba(#fff, 0.8);
					

					.button__wrapper {
						display: flex;
						flex-direction: column;
						margin-top: 32px;

						.button {
							width: 100%;

							+ .button {
								margin-top: 16px;
							}
						}
					}

					.good-desc__title {
						padding: 0;
						margin: 0 0 8px;
                        height: 4rem;
						font-size: 16px;
						line-height: 1;
                        font-weight: 600;
                        color: #333;
					}

					.good-desc__subtitle {
						padding: 0;
						margin: 0 0 12px;
						font-size: 16px;
					}

					.good-desc__price {
						padding: 0;
						margin: 0 0 12px;
						font-size: 16px;
                        font-weight: 800;
					}
				}

                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }
			}
		}
	}

	.goods__slider {
		margin: 0 -26px;
	}
}

