
	.form-block {
        margin: 20px;
		padding: 16px;
		border: 2px solid #4f595c;
		border-radius: 4px;
		box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        font-family: Roboto, sans-serif;

		&:not(:last-child) {
			margin-bottom: 32px;
		}

		legend {
			float: none;
			width: auto;
			text-align: center;
            font-size: 28px;
            font-weight: 600;
		}

		/*.form-item {
			display: block;
			width: 50%;
		}

		.form-label {
			text-align: left;
		}*/
	}

